html{
    font-size: 100px;
}
html,body,.main{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.slide1 *{
    opacity: 0;
}
#page1 *{
    opacity: 1;
}
.slide1{
    background: url("../img/bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.slide1 img{
    position: absolute;
}
.slide1 img:nth-child(1){
    width: 3rem;
    height:3rem;
    top: 1.2rem;
    left: 1.8rem;
}
.slide1 img:nth-child(2){
    width: 2.65rem;
    height:2.65rem;
    top: 1.38rem;
    left: 1.98rem;
}
.slide1 img:nth-child(3){
    width: 2.4rem;
    height:2.4rem;
    top: 1.5rem;
    left: 2.1rem;
    overflow: hidden;
    border-radius: 50%;
}
.slide1 .personal{
    /*position: absolute;*/
    display: inline-block;
    color: #fff;
    font-size: 0.3rem;
    width: 3.5rem;
    height:0.4rem;
    margin-top: 4.4rem;
    margin-left: 1.8rem;
}
.slide1 img:nth-child(5){
    width: 2.8rem;
    height:0.5rem;
    top: 4.9rem;
    left: 1.8rem;
}
.slide1 img:nth-child(6){
    width: 2.8rem;
    height:0.05rem;
    top: 5.5rem;
    left: 1.9rem;
}
.slide1 .l{
    position: absolute;
    top: 8.5rem;
    left: 1.2rem;
    font-size: 0.3rem;
    font-family: "微软雅黑";
    color: #fff;
}
.slide1 .r{
    position: absolute;
    top: 8.5rem;
    right: 1.2rem;
    font-size: 0.3rem;
    font-family: "微软雅黑";
    color: #fff;
}
.slide1 img:nth-child(9){
    width: 4.5rem;
    height:0.7rem;
    top: 9.3rem;
    left: 1rem;
}
.slide1 .more{
    position: absolute;
    width: 2rem;
    height: 0.5rem;
    top: 9.45rem;
    left: 2.5rem;
    font-size: 0.3rem;
}
.slide1 img:nth-child(11){
    width: 0.2rem;
    height:0.2rem;
    top: 9.55rem;
    left: 1.5rem;
}
.slide1 img:nth-child(12){
    width: 0.2rem;
    height:0.2rem;
    top: 9.55rem;
    right: 1.5rem;
}
/*.slide1 .btn{
    width: 1rem;
    height: 0.7rem;
    position: absolute;
    bottom: 0.5rem;
    left: 2.6rem;
    border: 0.01rem solid red;
}
.slide1 .btn .next{
    width: 0.7rem;
    height:0.5rem;
}*/
.slide1 img:nth-child(13),.slide2 img:nth-child(26),.slide3 img:nth-child(12),.slide4 img:nth-child(16),.slide5 img:nth-child(11),.slide6 img:nth-child(10),.slide7 img:nth-child(13){
    width: 0.7rem;
    height:0.5rem;
    top: 10.3rem;
    left: 2.8rem;
}
/*#page1 img:nth-child(13){
    -webkit-transform:translate(50%) ;
    transform:translate(50%) ;
}*/
#page1 img:nth-child(1){
    -webkit-animation: fadeIn 1s 1.5s 1 both,move 2s 2.5s infinite forwards ;
    animation: fadeIn 1s 1.5s 1 both,move 2s 2.5s infinite forwards ;
}
@-webkit-keyframes move {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#page1 img:nth-child(2){
    -webkit-animation:zoomIn 1s 0.5s 1 both ;
    animation:zoomIn 1s 0.5s 1 both ;
}

#page1 img:nth-child(3){
    -webkit-animation: fadeIn 1s 0.5s 1 both;
    animation: fadeIn 1s 0.5s 1 both;
}

#page1 .personal,#page1 img:nth-child(6){
    -webkit-animation:bounceInLeft 1s 0s both;
    animation:bounceInLeft 1s 0s both;
}
#page1 img:nth-child(5){
    -webkit-animation:bounceInRight 1s 0s both;
    animation:bounceInRight 1s 0s both;
}
#page1 .l{
    -webkit-animation:fadeInRight 1s 1.5s 1 both;
    animation:fadeInRight 1s 1.5s 1 both;
}
#page1 .r{
    -webkit-animation:fadeInLeft 1s 1.5s 1 both;
    animation:fadeInLeft 1s 1.5s 1 both;
}
#page1 img:nth-child(9){
    -webkit-animation:bounceInUp 1s 1s both;
    animation:bounceInUp 1s 1s both;
}
#page1 img:nth-child(11),#page1 img:nth-child(12){
    -webkit-animation:fadeIn 1s 1.5s 1 both,float 1s 3.5s infinite forwards ;
    animation:fadeIn 1s 1.5s 1 both,float 1s 3.5s infinite forwards ;
}
#page1 img:nth-child(13),#page2 img:nth-child(26),#page3 img:nth-child(12),#page4 img:nth-child(16),#page5 img:nth-child(11),#page6 img:nth-child(10),#page7 img:nth-child(13){
    -webkit-animation:fadeIn 1s 0.5s 1 both,float 1.5s 0.5s infinite forwards ;
    animation:fadeIn 1s 0.5s 1 both,float 1.5s 0.5s infinite forwards ;
}
@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3);
    }
    50%{
        opacity: 1;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3);
    }
    50%{
        opacity: 1;
    }
}
@-webkit-keyframes float {
    0%{
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    25%{
        -webkit-transform: translate3d(0,-10%,0);
        transform: translate3d(0,-10%,0);
    }
    75%{
        -webkit-transform: translate3d(0,10%,0);
        transform: translate3d(0,10%,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@keyframes float {
    0%{
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    25%{
        -webkit-transform: translate3d(0,-10%,0);
        transform: translate3d(0,-10%,0);
    }
    75%{
        -webkit-transform: translate3d(0,10%,0);
        transform: translate3d(0,10%,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
#page1 .more{
    -webkit-animation:zoomIn 1s 1.5s 1 both ;
    animation:zoomIn 1s 1.5s 1 both ;
}
/*第2页*/
.slide2 *{
    opacity: 0;
}
#page2 *{
    opacity: 1;
}
.slide2{
    background: url("../img/bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.slide2 img{
    position: absolute;
}
.slide2 img:nth-child(1){
    width: 2.35rem;
    height: 2.35rem;
    top: 1rem;
    left: 2rem;
}
.slide2 img:nth-child(2){
    width: 2.35rem;
    height: 2.35rem;
    top: 1rem;
    left: 2rem;
}
.slide2 img:nth-child(3),.slide2 img:nth-child(4){
    width: 1.8rem;
    height: 0.2rem;
    right: 0;
    top: 2.1rem;
}
.slide2 img:nth-child(4){
   left: 0;
}
.slide2 img:nth-child(5){
    width: 1rem;
    height: 0.5rem;
    top: 1.95rem;
    left: 2.67rem;
}
.slide2 img:nth-child(6),.slide2 img:nth-child(10),.slide2 img:nth-child(14),.slide2 img:nth-child(18),.slide2 img:nth-child(22){
    width: 3rem;
    height: 0.05rem;
    top: 4.5rem;
    left: 1.55rem;
}
.slide2 h2{
    position: absolute;
    width: 0.7rem;
    height: 0.5rem;
    color: #fff;
    font-size: 0.6rem;
}
.slide2 .h01{
    top: 3.7rem;
    left: 1.55rem;
}
.slide2 img:nth-child(8),.slide2 img:nth-child(16),.slide2 img:nth-child(24){
    width: 0.25rem;
    height: 0.35rem;
    top: 3.9rem;
    left: 2.5rem;
}
.slide2 .border{
    position: absolute;
    width: 1.5rem;
    height: 0.55rem;
    border: 0.02rem dashed white;
}
.slide2 .border1{
    top: 3.8rem;
    left: 3rem;
}
.slide2 .border {
    display: inline-block;
    width: 1.5rem;
    text-align: center;
    line-height: 0.55rem;
    color: white;
    font-size: 0.3rem;
}
.slide2 img:nth-child(10){
    top: 5.5rem;
}
.slide2 .h02{
    left:3.9rem ;
    top: 4.7rem;
}
.slide2 .border2{
    top: 4.8rem;
    left: 1.6rem;
}
.slide2 img:nth-child(13),.slide2 img:nth-child(21){
    width: 0.25rem;
    height: 0.35rem;
    top: 4.9rem;
    left: 3.35rem;
}
.slide2 img:nth-child(14){
    top: 6.5rem;
    left: 1.55rem;
}
.slide2 .h03{
    top: 5.7rem;
    left: 1.55rem;
}
.slide2 img:nth-child(16){
    top: 5.9rem;
}
.slide2 .border3{
    top: 5.8rem;
    left: 3rem;
}
.slide2 img:nth-child(18){
    top: 7.5rem;
}
.slide2 .h04{
    left:3.9rem ;
    top: 6.7rem;
}
.slide2 .border4{
    top: 6.8rem;
    left: 1.6rem;
}
.slide2 img:nth-child(21){
    top: 6.9rem;
}
.slide2 img:nth-child(22){
    top: 8.5rem;
}
.slide2 .h05{
    top: 7.7rem;
    left: 1.55rem;
}
.slide2 .border5{
    top: 7.8rem;
    left: 3rem;
}
.slide2 img:nth-child(24){
    top: 7.9rem;
}
#page2 img:nth-child(1){
    -webkit-animation: bounceOut1 1s .5s 1 both;
    animation: bounceOut1 1s .5s 1 both;
}
@-webkit-keyframes bounceOut1 {
    0%,20%,40%,60%,80%,100%{
    cubic-bezier(.215,.61,.355,1);
    }
    0%{
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3);
    }
    20%{
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5);
    }
    40%{
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03);
    }
    80%{
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}
@keyframes bounceOut1 {
    0%,20%,40%,60%,80%,100%{
    cubic-bezier(.215,.61,.355,1);
}
    0%{
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3);
    }
    20%{
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5);
    }
    40%{
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03);
    }
    80%{
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}
#page2 img:nth-child(2){
    -webkit-animation: rotate2d 1s .5s infinite both;
    animation: rotate2d 1s .5s infinite both;
}
@-webkit-keyframes rotate2d {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate2d {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#page2 img:nth-child(3){
    -webkit-animation: bounceInLeft 1s 0.5s 1 both;
    animation: bounceInLeft 1s 0.5s 1 both;
}
#page2 img:nth-child(4){
    -webkit-animation: bounceInRight 1s 0.5s 1 both;
    animation: bounceInRight 1s 0.5s 1 both;
}
#page2 img:nth-child(5){
    -webkit-animation: fadeIn 1s 1.5s 1 both;
    animation: fadeIn 1s 1.5s 1 both;
}
#page2 img:nth-child(6),#page2 img:nth-child(10),#page2 img:nth-child(14),#page2 img:nth-child(18),#page2 img:nth-child(22){
    -webkit-animation: fadeIn 1s 2s 1 both;
    animation: fadeIn 1s 2s 1 both;
}
#page2 .h01,#page2 .h03,#page2 .h05{
    -webkit-animation: fadeInDown 1s 2.5s 1 both;
    animation: fadeInDown 1s 2.5s 1 both;
}
#page2 .h02,#page2 .h04{
    -webkit-animation: fadeInDown 1s 2.5s 1 both;
    animation: fadeInDown 1s 2.5s 1 both;
}
#page2 img:nth-child(8),#page2 img:nth-child(16),#page2 img:nth-child(24){
    -webkit-animation: fadeInLeft 1s 2.5s 1 both;
    animation: fadeInLeft 1s 2.5s 1 both;
}
#page2 img:nth-child(13),#page2 img:nth-child(21){
    -webkit-animation: fadeInRight 1s 2.5s 1 both;
    animation: fadeInRight 1s 2.5s 1 both;
}
#page2 .border{
    -webkit-animation: bounceOut1 1s 3s 1 both;
    animation: bounceOut1 1s 3s 1 both;
}
#page2 .border span{
    -webkit-animation: fadeIn 1s 4s 1 both;
    animation: fadeIn 1s 4s 1 both;
}
/*第3页*/
.slide3{
    background: url("../img/bg1.jpg") no-repeat;
    background-size: 100% 100%;
}
.slide3 *{
    opacity: 0;
}
#page3 *{
    opacity: 1;
}
.slide3 img{
    position: absolute;
}
.slide3 .h001,.slide4 .h002,.slide5 .h003,.slide6 .h004,.slide7 .h005{
    position: absolute;
    width: 0.7rem;
    height: 0.5rem;
    top: 0.75rem;
    left: 2.8rem;
    font-size: 0.6rem;
    color: #fff;
}
.slide3 .border1,.slide4>.border2,.slide5>.border3,.slide6>.border4,.slide7>.border5{
    position: absolute;
    left: 2.2rem;
    top: 2.2rem;
    width: 2rem;
    height: 0.55rem;
    border: 0.04rem dashed white;
}
.slide3>.info,.slide4>.skill,.slide5>.job,.slide6>.show,.slide7>.tel{
    position: absolute;
    left: 2.4rem;
    top:2.25rem;
    color: #fff;
    font-size: 0.35rem;
    font-weight: 700;
    text-align: center;
    line-height: 0.55rem;
}
.slide3 .about,.slide4>.SKILL,.slide5>.JOB,.slide6>.production,.slide7>.contact{
    width: 3rem;
    position: absolute;
    font-size: 0.3rem;
    color: #fff;
    top: 2.85rem;
    left: 2.7rem;
    font-style: italic;
}
.slide3 .about{
    left: 2.5rem;
}
.slide5>.JOB{
    left:2.05rem ;
}
.slide6>.production{
    left:2.38rem ;
}
.slide7>.contact{
    left:2.25rem ;
}
.slide3 img:nth-child(5){
    width: 5.8rem;
    height: 6rem;
    top: 3.5rem;
    left: 0.3rem;
}
.slide3 .none{
    position: absolute;
    left: 2.2rem;
    top: 4rem;
    width: 2rem;
    height: 0.65rem;
    background: #80f6e5;
}
.slide3 .dot{
    position: absolute;
    top: 4rem;
    left: 1.2rem;
    width: 4rem;
    height: .7rem;
}
.slide3 .dot .dotR{
    position: absolute;
    left: 2.99rem;
    top: 0.18rem;
    width: 0.6rem;
    height: 0.3rem;
}
.slide3 .dot .dotL{
    position: absolute;
    left: .4rem;
    top: 0.18rem;
    width: 0.6rem;
    height: 0.3rem;
}
.slide3 .dot .name{
    display: inline-block;
    width: 2rem;
    height: 0.65rem;
    text-align: center;
    line-height:0.65rem ;
    font-size: 0.4rem;
    font-weight: 700;
    padding-left: 1rem;
}
.slide3 .position{
    position: absolute;
    left: 2.5rem;
    top: 4.8rem;
}
.slide3 ul{
    position: absolute;
    left: 1.2rem;
    top: 5.4rem;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.clearfix{zoom: 1}
.slide3 ul li{
    width: 3.6rem;
    height: 0.1rem;
    border: 0.03rem dashed #728cd7;
    margin-bottom: 0.2rem;
    border-radius: 0.1rem;
    padding: 0.2rem 0.2rem;
    line-height: 0.1rem;
    text-align: center;
}
.slide3 ul li .l,.slide3 ul li .r{
    width: 0.1rem;
    height: 0.1rem;
    background: #728cd7;
    border-radius: 50%;
}
.slide3 ul li .l{
    float: left;
}
.slide3 ul li .r{
   float: right;
}
#page3 .h001,#page4 .h002,#page5 .h003,#page6 .h004,#page7 .h005{
    -webkit-animation: bounceOut1 1s 0.5s 1 both;
    animation: bounceOut1 1s 0.5s 1 both;
}
#page3 .border1,#page4>.border2,#page5>.border3,#page6>.border4,#page7>.border5{
    -webkit-animation: fadeIn 1s 1.5s 1 both,rotate2d 1s 2.5s 1 both;
    animation: fadeIn 1s 1.5s 1 both,rotate2d 1s 2.5s 1 both;
}
#page3>.info,#page4>.skill,#page5>.job,#page6>.show,#page7>.tel{
    -webkit-animation: fadeIn 1s 1.5s 1 both;
    animation: fadeIn 1s 1.5s 1 both;
}
#page3 .about,#page4>.SKILL,#page5>.JOB,#page6>.production,#page7>.contact{
    -webkit-animation: fadeInDown 1s 1.5s 1 both;
    animation: fadeInDown 1s 1.5s 1 both;
}
#page3 img:nth-child(5){
    -webkit-animation: rollIn 1s 2.5s 1 both;
    animation: rollIn 1s 2.5s 1 both;
}
#page3 .none1{
    -webkit-animation: fadeInLeft 1s 3.5s 1 both;
    animation: fadeInLeft 1s 3.5s 1 both;
}
#page3 .none2{
    -webkit-animation: fadeInRight 1s 3.5s 1 both;
    animation: fadeInRight 1s 3.5s 1 both;
}
#page3 .dot .dotR{
    -webkit-animation: fadeInLeft 1s 4s 1 both;
    animation: fadeInLeft 1s 4s 1 both; ;
}
#page3 .dot .dotL{
    -webkit-animation: fadeInRight 1s 4s 1 both;
    animation: fadeInRight 1s 4s 1 both; ;
}
#page3 .dot .name{
    -webkit-animation: fadeIn 1s 4.5s 1 both;
    animation: fadeIn 1s 4.5s 1 both;
}
#page3 .position{
    -webkit-animation: fadeInDown 1s 4.5s 1 both;
    animation: fadeInDown 1s 4.5s 1 both;
}
#page3 ul li:nth-child(1),#page3 ul li:nth-child(3),#page3 ul li:nth-child(5){
    -webkit-animation: fadeInUp 1s 5.5s 1 both;
    animation: fadeInUp 1s 5.5s 1 both;
}
#page3 ul li:nth-child(2),#page3 ul li:nth-child(4){
    -webkit-animation: fadeInDown 1s 5.5s 1 both;
    animation: fadeInDown 1s 5.5s 1 both;
}
/*第4页*/
.slide4,.slide5{
    background: url("../img/bg1.jpg") no-repeat;
    background-size: 100% 100%;
}
.slide4 *{
    opacity: 0;
}
#page4 *{
    opacity: 1;
}
.slide4 img{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
}
.slide4 img:nth-child(5){
    top: 3.7rem;
    left: 0.15rem;
}
.slide4 img:nth-child(7) {
    top: 4.65rem;
    left: 0.15rem;
}
.slide4 img:nth-child(9) {
    top: 5.55rem;
    left: 0.15rem;
}
.slide4 img:nth-child(11) {
    top: 6.55rem;
    left: 0.15rem;
}
.slide4 img:nth-child(13) {
    top: 7.55rem;
    left: 0.15rem;
}
#page4 img:nth-child(5){
    -webkit-animation: fadeInLeft 1s 3s 1 both;
    animation: fadeInLeft 1s 3s 1 both;
}
#page4 img:nth-child(7) {
    -webkit-animation: fadeInLeft 1s 4s 1 both;
    animation: fadeInLeft 1s 4s 1 both;
}
#page4 img:nth-child(9) {
    -webkit-animation: fadeInLeft 1s 5s 1 both;
    animation: fadeInLeft 1s 5s 1 both;
}
#page4 img:nth-child(11) {
    -webkit-animation: fadeInLeft 1s 6s 1 both;
    animation: fadeInLeft 1s 6s 1 both;
}
#page4 img:nth-child(13) {
    -webkit-animation: fadeInLeft 1s 7s 1 both;
    animation: fadeInLeft 1s 7s 1 both;
}
.slide4 .discb{
    position: absolute;
    color: #fff;
    margin-right: 0.35rem;
}
.slide4 .discb1{
    left: 0.75rem;
    top: 3.65rem;
}
#page4 .discb1{
    -webkit-animation: zoomIn 1s 3s 1 both;
    animation: zoomIn 1s 3s 1 both;
}
.slide4 .discb2{
    left: 0.75rem;
    top: 4.6rem;
}
#page4 .discb2{
    -webkit-animation: zoomIn 1s 4s 1 both;
    animation: zoomIn 1s 4s 1 both;
}
.slide4 .discb3{
    left: 0.75rem;
    top: 5.5rem;
}
#page4 .discb3{
    -webkit-animation: zoomIn 1s 5s 1 both;
    animation: zoomIn 1s 5s 1 both;
}
.slide4 .discb4{
    left: 0.75rem;
    top: 6.5rem;
}
#page4 .discb4{
    -webkit-animation: zoomIn 1s 6s 1 both;
    animation: zoomIn 1s 6s 1 both;
}
.slide4 .discb5{
    left: 0.75rem;
    top: 7.6rem;
}
#page4 .discb5{
    -webkit-animation: zoomIn 1s 7s 1 both;
    animation: zoomIn 1s 7s 1 both;
}
/*第5页*/
.slide5 img{
    position: absolute;
}
.slide5 *{
    opacity: 0;
}
#page5 *{
    opacity: 1;
}
/*.slide5 .line{
    width: 2.3rem;
    content: '';
    height: 0.01rem;
    !*border: 0.1rem dashed #00b3ee;*!
    position: absolute;
}
.slide5 .line1{
    top: 3.8rem;
    left: 0.8rem;
    border-bottom: 0.01rem dashed #00b3ee;
}
.slide5 .line2{
    !*width: 4rem;*!
    height: 5rem;
    border-left: 0.01rem dashed #00b3ee;
    position: absolute;
}
.slide5 .line2-1{
    top: 3.8rem;
    left: 0.8rem;
}
.slide5 .line3{
    top: 8.8rem;
    left: 0.8rem;
    border-bottom: 0.01rem dashed #00b3ee;
}
.slide5 .line4{
    height: 3rem;
    border-left: 0.01rem dashed #00b3ee;
    position: absolute;
    top: 8.8rem;
    left: 3.1rem;
}
.slide5 .dot-3{
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background-color: #00b3ee;
    position: absolute;
    left: 3.02rem;
}
.slide5 .dot-3-1{
    top: 3.73rem;
}
.slide5 .dot-3-2{
    top: 8.73rem;
}*/
.slide5 img:nth-child(5){
    width: 2.5rem;
    height: 5rem;
    top: 3.8rem;
    left: 0.75rem;
}
.slide5 img:nth-child(6){
    width: 0.3rem;
    height: 0.3rem;
    top: 4.4rem;
    left: 0.62rem;
}
.slide5 img:nth-child(7){
    width: 0.3rem;
    height: 0.3rem;
    top: 5.8rem;
    left: 0.62rem;
}
.slide5 .time{
    position: absolute;
    color: #fff;
    font-size: 0.16rem;
}
.slide5 .time1{
    left: 1rem;
    top: 4.4rem;
}
.slide5 .time2{
    left: 1rem;
    top: 5.8rem;
}
/*#page5 .line1{
    -webkit-animation: fadeInLeft 1s 2.5s 1 both;
    animation: fadeInLeft 1s 2.5s 1 both;
}
#page5 .line2-1{
    -webkit-animation: fadeInDown 1s 2.5s 1 both;
    animation: fadeInDown 1s 2.5s 1 both;
}
#page5 .line3{
    -webkit-animation: fadeInRight 1s 3.5s 1 both;
    animation: fadeInRight 1s 3.5s 1 both;
}
#page5 .line4{
    -webkit-animation: fadeInUp 1s 5s 1 both;
    animation: fadeInUp 1s 5s 1 both;
}
#page5 .dot-3-1{
    -webkit-animation: bounceOut2 1s 2.5s 1 both;
    animation: bounceOut2 1s 2.5s 1 both;
}
#page5 .dot-3-2{
    -webkit-animation: bounceOut2 1s 4.5s 1 both;
    animation: bounceOut2 1s 4.5s 1 both;
}*/
#page5 img:nth-child(5){
    -webkit-animation: zoomIn 1s 5s 1 both;
    animation: zoomIn 1s 5s 1 both;
}
#page5 img:nth-child(6){
    -webkit-animation: bounceOut2 1.5s 3.5s 1 both;
    animation: bounceOut2 1.5s 3.5s 1 both;
}
#page5 img:nth-child(7){
    -webkit-animation: bounceOut2 1.5s 4s 1 both;
    animation: bounceOut2 1.5s 4s 1 both;
}
#page5 .time1{
    -webkit-animation:lightSpeedIn 1s 3.5s 1 both;
    animation:lightSpeedIn 1s 3.5s 1 both;
}
#page5 .time2{
    -webkit-animation:lightSpeedIn 1s 4s 1 both;
    animation:lightSpeedIn 1s 4s 1 both;
}
/*第6页*/
.slide6{
    background: url("../img/bg1.jpg") no-repeat;
    background-size: 100% 100%;
}
#page1,#page2,#page3,#page4,#page5,#page6,#page7{
    -webkit-animation: bg 0.5s;
    animation: bg 0.5s;
}
@-webkit-keyframes bg {
    0%{
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    20%{
        -webkit-transform: scale(1.45);
        transform: scale(1.45);
    }
    40%{
        -webkit-transform: scale(1.35);
        transform: scale(1.35);
    }
    50%{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    60%{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    80%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bg {
    0%{
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    20%{
        -webkit-transform: scale(1.45);
        transform: scale(1.45);
    }
    40%{
        -webkit-transform: scale(1.35);
        transform: scale(1.35);
    }
    50%{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    60%{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    80%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.slide6 *{
    opacity: 0;
}
#page6 *{
    opacity: 1;
}
.slide6 img{
    position: absolute;
}
/*.slide6 .line2{
    height: 5.5rem;
    border: 0.01rem dashed #00b3ee;
    position: absolute;
}
.slide6 .line2-2{
    top: 3.8rem;
    left: 0.8rem;
}
.slide6 .line2-3{
    height: 1.5rem;
    top: 9.3rem;
    left: 2.8rem;
}
.slide6 .line-6{
    width: 0.5rem;
    border: 0.01rem dashed #00b3ee;
    position: absolute;
}
.slide6 .line-6-1{
    top: 3.8rem;
    left: 0.8rem;
}
.slide6 .line-6-2{
    top: 5.7rem;
    left: 0.8rem;
}
.slide6 .line-6-3{
    top: 7.5rem;
    left: 0.8rem;
}
.slide6 .line-6-4{
    width: 2rem;
    top: 9.3rem;
    left: 0.8rem;
}*/
.slide6 img:nth-child(5){
    left: 0.68rem;
    top: 3.65rem;
    width: 2.5rem;
    height: 6rem;
}
.slide6 img:nth-child(11){
    left: 0.68rem;
    top: 3.65rem;
    width: 0.3rem;
    height: 0.3rem;
}
.slide6 img:nth-child(12){
    left: 0.68rem;
    top: 5.55rem;
    width: 0.3rem;
    height: 0.3rem;
}
.slide6 img:nth-child(13){
    left: 0.68rem;
    top: 7.4rem;
    width: 0.3rem;
    height: 0.3rem;
}
.slide6 img:nth-child(14){
    left: 0.68rem;
    top: 9.15rem;
    width: 0.3rem;
    height: 0.3rem;
}
.slide6 .border-6{
    width: 4rem;
    height: 1.3rem;
    border:0.04rem dashed #00b3ee;
    position: absolute;
}
.slide6 .border-6-1{
    left: 1.3rem;
    top: 3.4rem;
}
.slide6 .border-6-2{
    left: 1.3rem;
    top: 5.3rem;
}
.slide6 .border-6-3{
    left: 1.3rem;
    top: 7.2rem;
}
#page6 img:nth-child(5){
    -webkit-animation: rotateIn 1s 4.5s 1 both;
    animation: rotateIn 1s 4.5s 1 both;
}
/*#page6 img:nth-child(11){
    -webkit-animation: bounceOut2 1s 3.5s 1 both;
    animation: bounceOut2 1s 3.5s 1 both;
}
#page6 img:nth-child(12){
    -webkit-animation: bounceOut2 1s 4.5s 1 both;
    animation: bounceOut2 1s 4.5s 1 both;
}
#page6 img:nth-child(13){
    -webkit-animation: bounceOut2 1s 5.5s 1 both;
    animation: bounceOut2 1s 5.5s 1 both;
}
#page6 img:nth-child(14){
    -webkit-animation: bounceOut2 1s 6.5s 1 both;
    animation: bounceOut2 1s 6.5s 1 both;
}*/
@-webkit-keyframes bounceOut2 {
    0%,20%,40%,60%,80%,100%{
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
    }
    0%{
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3);
    }
    20%{
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}
@keyframes bounceOut2 {
    0%,20%,40%,60%,80%,100%{
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
    }
    0%{
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3);
    }
    20%{
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}
#page6 .line-6-1{
    -webkit-animation: fadeInLeft 1s 3s 1 both;
    animation: fadeInLeft 1s 3s 1 both;
}
/*#page6 .line-6-2{
    -webkit-animation: fadeInLeft 1s 4s 1 both;
    animation: fadeInLeft 1s 4s 1 both;
}
#page6 .line-6-3{
    -webkit-animation: fadeInLeft 1s 5s 1 both;
    animation: fadeInLeft 1s 5s 1 both;
}
#page6 .line-6-4{
    -webkit-animation: fadeInLeft 1s 6s 1 both;
    animation: fadeInLeft 1s 6s 1 both;
}
#page6 .line2-2{
    -webkit-animation: zoomIn 1s 2.5s 1 both;
    animation: zoomIn 1s 2.5s 1 both;
}*/
#page6 .border-6-1{
    -webkit-animation: bounceInLeft 1s 3s 1 both;
    animation: bounceInLeft 1s 3s 1 both;
}
#page6 .border-6-2 {
    -webkit-animation: bounceInLeft 1s 3.5s 1 both;
    animation: bounceInLeft 1s 3.5s 1 both;
}
#page6 .border-6-3{
    -webkit-animation: bounceInLeft 1s 4s 1 both;
    animation: bounceInLeft 1s 4s 1 both;
}
#page6 .line2-3{
    -webkit-animation: fadeInUp 1s 4.5s 1 both;
    animation: fadeInUp 1s 4.5s 1 both;
}
.slide7 *{
    opacity: 0;
}
#page7 *{
    opacity: 1;
}
.slide7{
    background: url("../img/bg1.jpg") no-repeat;
    background-size: 100% 100%;
}
.slide7 img,.slide7 span{
    position: absolute;
}
.slide7 span{
    font-size: 0.3rem;
    color: white;
    font-style: italic;
}
.slide7 img:nth-child(6){
    top: 7.7rem;
    left: 1.2rem;
    width: 4rem;
}
.slide7 span:nth-child(7){
    top: 7.3rem;
    left: 2rem;
}
.slide7 img:nth-child(8){
    top: 8.5rem;
    left: 1.2rem;
    width: 4rem;
}
.slide7 span:nth-child(9){
    top: 8.1rem;
    left: 2rem;
}
.slide7 img:nth-child(10){
    top: 9.4rem;
    left: 1.2rem;
    width: 4rem;
}
.slide7 span:nth-child(11){
    top: 9rem;
    left: 1.1rem;
}
#page7 img:nth-child(6){
    -webkit-animation: fadeInLeft 1s 3s 1 both;
    animation: fadeInLeft 1s 3s 1 both;
}
#page7 span:nth-child(7){
    -webkit-animation: fadeInUp 1s 3s 1 both;
    animation: fadeInUp 1s 3s 1 both;
}
#page7 img:nth-child(8){
    -webkit-animation: fadeInLeft 1s 3.5s 1 both;
    animation: fadeInLeft 1s 3.5s 1 both;
}
#page7 span:nth-child(9){
    -webkit-animation: fadeInUp 1s 3.5s 1 both;
    animation: fadeInUp 1s 3.5s 1 both;
}
#page7 img:nth-child(10){
    -webkit-animation: fadeInLeft 1s 4s 1 both;
    animation: fadeInLeft 1s 4s 1 both;
}
#page7 span:nth-child(11){
    -webkit-animation: fadeInUp 1s 4s 1 both;
    animation: fadeInUp 1s 4s 1 both;
}
.swiper-slide .top{
    font-family: "MV Boli";
    font-size: 0.4rem;
    color: white;
    width: 3.5rem;
    height: 0.5rem;
    display: inline-block;
    /*position: absolute;*/
    margin-top: 0.01rem;
    margin-left: 1.8rem;
}
.music{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0.12rem;
    right: 0.15rem;
    background:url("../audio/music.svg") ;
    background-size: 100% 100%;
    z-index: 111;
    opacity: 0;
}
.musicCur{
    opacity: 1;
    -webkit-animation: move 1s linear infinite both;
    animation: move 1s linear infinite both;
}
@keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}